<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🙏🏻 Namaste</title>
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}"> -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <nav id="navigation-bar">
        <header class="navbar-header">Abhishek&nbsp</header>
        <header class="navbar-header" style="color: #185ecf;">Singh</header>
        <ul id="navigation-list">
            <li class="navigation-list-items"><a href="#">Home</a></li>
            <li class="navigation-list-items"><a href="#">Projects</a></li>
            <li class="navigation-list-items"><a href="#">About</a></li>
            <li class="navigation-list-items"><a href="#" id="contact-me-btn">Contact</a></li>
        </ul>
    </nav>
</body>
</html>